.env
test_in_nb.ipynb

src/__pycache__/load_and_merge.cpython-310.pyc
src/__pycache__/


*.ipynb_checkpoints
*.egg-info/
*.dist-info/
*.whl
*.log
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.swp
*.bak
*.tmp
__pycache__
